.Rproj.user
.Rhistory
.RData
.Ruserdata
BDD 06.07.18.dta
*.dta
BD_2020
BD_2020.sav
BD_2020_exp.dta
BD_2020_exp.sav
NAQ_LCA_classpost_NAQ.dta
NAQ_LCA_classpost_CULORG.dta
BD_2020_compilacion_versiones.dta
BD_2020.csv
do's_enviados_profe_ago_19/*
BD_2020_input.xlsx
BD_2020.dta
BD_2020_input.csv
21-04-19 (BD_05_02_19) CULORG.sav
21-04-19 (BD_05_02_19) CULORG.csv
data.sav
x.RData
y.RData
mtcars.sav
BD_2020_input.csv
BD_2020_input.csv